<h3 style='color:blue'>Tuples</h3>

Tuples are immutable. once initialized, value cannot be changed. Memory management is easier and more efficient. Memory is fixed. 

Python Lists store values of similar concepts. 
expenses=[1200,1400,1700] 
Lists are dynamic arrays. Memory mgnt is expensive. 
Lists can grow dynamically whereas tuples have a fixed size hence they are more memory efficient

In [1]:
# Tuples are useful when you want to return multiple values from a function

def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [2]:
pe_ratio, pb_ratio = find_pe_and_pb(100, 2, 4)

In [3]:
pe_ratio, pb_ratio

(50.0, 25.0)

<h3 style='color:blue'>Dictionary</h3>

Let's say you want to write a python program that can store phone numbers. Here you will have name of the person and a phone number. Say you have following people and their phone numbers,

rachel => 8887771111
monica => 9195675555
joey => 3332229999

One way to store this information is using a list of tuples as shown below,

In [6]:
contacts = [('rachel',8887771111), ('monica',9195675555), ('joey',3332229999)]

In [8]:
# But here when you want to search for a phone number of a specific person you will have 
# to run a for loop and search the records sequentially
for contact in contacts:
    if contact[0]=='joey':
        print(contact[1])

3332229999

If list is very long say 10000 elements and element you are looking for is at the end, you would have now done 10000 iterations in the loop which is not efficient. In terms of memory complexity this is O(n).

There is a better data structure called dictionary that allows you to search for an element in Big O(1) (or constant time complexity). Now we will define a python dictionary

In [7]:
d = {
    'rachel': 8887771111,
    'monica': 9195675555,
    'joey': 3332229999
}

In [5]:
d['joey']

3332229999

Accessing an element in a dictionary by a key is very fast (i.e. O(1) or constant time complexity).
Now what happens if you try to access an elementby a key that doesn't exist in a dictionary

In [10]:
d['satya']

KeyError: 'satya'

*You can use get function which returns None if the element doesn't exist. (=>No value is returned)*

In [29]:
d.get('satya')

* You can supply default value, if item does not exists*. If item is found, it gives the corresp value.*

In [31]:
d.get('satya', 0)

0

**Change value of existing element**

In [33]:
d['rachel'] #returns current value

1112568888

In [15]:
d['rachel']=1112568888
d['rachel']

1112568888

**Add new element**

In [16]:
d['satya']=2228764555
d

{'rachel': 1112568888,
 'monica': 9195675555,
 'joey': 3332229999,
 'satya': 2228764555}

**Delete an element**

In [17]:
del d['satya']
d

{'rachel': 1112568888, 'monica': 9195675555, 'joey': 3332229999}

**in operator**

In [18]:
'abdul' in d

False

In [19]:
'rachel' in d

True

**Dictionary can store any data type as its value. Below the value in the dictionary is another dictionary**

In [20]:
contact_dict = {
    'rachel' : { 'phone': 1234, 'address': '1 blue st' },
    'joey' : { 'phone': 999, 'address': '7 newton blvd' }
}

In [21]:
contact_dict['rachel']['address']

'1 blue st'

In [22]:
contact_dict['rachel']['phone']

1234

**Iterate through every element and print their values**

In [24]:
for name in d:
    print(name, d[name])

rachel 1112568888
monica 9195675555
joey 3332229999

In [25]:
for name, number in d.items():
    print(name, number)

rachel 1112568888
monica 9195675555
joey 3332229999

**Get only keys or only values**

In [26]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [27]:
d.keys()

dict_keys(['rachel', 'monica', 'joey'])

In [28]:
d.values()

dict_values([1112568888, 9195675555, 3332229999])

In [35]:
list(d.values()) #converts into a list.

[1112568888, 9195675555, 3332229999]

In [36]:
d.items()

dict_items([('rachel', 1112568888), ('monica', 9195675555), ('joey', 3332229999)])

<h3 style='color:blue'>Excercise</h3>

Create a list of your friends' names and now create a list of tuples. The tuple should contain the friend’s name and the length of the name. For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)

In [50]:
friends = ['Keerthana','Lavanya','Bhagya','Vinu','Jency','Annie','Raji','Mala']

In [47]:
def list_of_tuples(friends):
    new_list = []
    for friend in friends:
        new_list.append(friend,len(friend))
    return new_list
new_list = list_of_tuples(friends)

TypeError: append() takes exactly one argument (2 given)

In [51]:
def list_of_tuples(friends):
    new_list = []
    for friend in friends:
        friend_tuple = friend,len(friend)
        new_list.append(friend_tuple)
    return new_list
new_list = list_of_tuples(friends)
new_list

[('Keerthana', 9),
 ('Lavanya', 7),
 ('Bhagya', 6),
 ('Vinu', 4),
 ('Jency', 5),
 ('Annie', 5),
 ('Raji', 4),
 ('Mala', 4)]

### 2.  You and your wife argued upon expenses last night. You both want to know who is spending more in a month. Now you both go to the Little Yoda he is a good python programmer, he suggested both of you to add an entry in a dictionary when next time you spent money. So that you can have clear picture about your expenses and plan to reduce it. Both dictionaries are as below-
Your expenses - 

* Clothes - 1100
* Shoes - 1000
* Watch - 900
* Mobile Recharge - 699
* Petrol - 1980

Your Wife’s expenses - 
* Mobile Recharge - 799
* DTH recharge - 999
* Clothes - 2310
* Makeup - 3670
* Shoes - 999

A) Find out total expenses of each of you.\
B) Find out who spending more\
C) Find out in which thing you and your w spending more

In [52]:
my_expenses = dict()
wife_expenses = dict()

In [53]:
# adding data to the dictionaries
my_expenses['Clothes'] = 100
my_expenses['Shoes'] = 1000
my_expenses['Watch'] = 900
my_expenses['Mobile Recharge'] = 699
my_expenses['Petrol'] = 1980

In [54]:
wife_expenses.update({
    "Mobile Recharge" : 799,
    "DTH recharge" : 999,
    "Clothes" : 2310,
    "Makeup" : 3670,
    "Shoes" : 999
})

In [55]:
my_expenses

{'Clothes': 100,
 'Shoes': 1000,
 'Watch': 900,
 'Mobile Recharge': 699,
 'Petrol': 1980}

In [56]:
wife_expenses

{'Mobile Recharge': 799,
 'DTH recharge': 999,
 'Clothes': 2310,
 'Makeup': 3670,
 'Shoes': 999}

In [57]:
# little Yoda's Analysis

# finding total expenses
total = 0
for key in my_expenses:
    total += my_expenses[key]

my_expenses['Total'] = total

total = 0
for key in wife_expenses:
    total += wife_expenses[key]

wife_expenses['Total'] = total

print(f"Your Total Expenses are: {my_expenses['Total']}")
print(f"Your wife`s Total Expenses are: {wife_expenses['Total']}")

Your Total Expenses are: 4679
Your wife`s Total Expenses are: 8777

In [58]:
total = my_expenses['Total'] + wife_expenses['Total']
print(f"Total Expenses for both: {total}")

Total Expenses for both: 13456

In [59]:
# B. Finding who spend more
if my_expenses['Total'] > wife_expenses['Total']:
    print("You spent more than your wife.")
else:
    print("Your wife spent more than you")

Your wife spent more than you

In [60]:
# c. finding expensive thing
# If we can sort the dictionary in increasing order or decreasing order, we can find it easily

def sort_the_dict(dictionary):
    # because we need to sord the dictionary according to the values
    sorted_dict = sorted(dictionary.items(), key=lambda kv:kv[1])
    
    return sorted_dict

In [61]:
sort_the_dict(my_expenses)

[('Clothes', 100),
 ('Mobile Recharge', 699),
 ('Watch', 900),
 ('Shoes', 1000),
 ('Petrol', 1980),
 ('Total', 4679)]

In [62]:
sort_the_dict(wife_expenses)

[('Mobile Recharge', 799),
 ('DTH recharge', 999),
 ('Shoes', 999),
 ('Clothes', 2310),
 ('Makeup', 3670),
 ('Total', 8777)]

Because last element will always be the total so we have to print the second last element

In [63]:
print("You spent more on: ")
sort_the_dict(my_expenses)[-2]

You spent more on:

('Petrol', 1980)

In [64]:
print("Your wife spent more on: ")
sort_the_dict(wife_expenses)[-2]

Your wife spent more on:

('Makeup', 3670)