In [49]:
can = "soda"
type(can)

str

In [51]:
first_name="mythily"
last_name="ramanathan"
type(first_name)

str

In [52]:
Full_name = first_name +" "+ last_name
Full_name

'mythily ramanathan'

Say you went to a restaurant and want to track down total expense for all food items

In [56]:
pizza=20
samosa=5
ice_cream=8.5
total=pizza+samosa+ice_cream
total

33.5

In [57]:
type(total)

float

In [58]:
type(pizza)

int

**Integer** is a whole number with no decimal point. e.g. 34, 12, 500 

**Float** is a number with decimal point. e.g. 1.34, 0.45, 100.5 

**String** data types store text information

**Boolean** type is used to store true or false value

In [59]:
learn_python=True
learn_fortran=False

In [65]:
type(learn_python)

bool

<h3 style="color:purple">Everything is an object in python</h3>

In [60]:
food = 5

in memory, it created an object in which it stores jalebi and points a var - food to jalebi

In [62]:
food = "jalebi"
bar = food
bar, food

('jalebi', 'jalebi')

In [63]:
id(bar)

1699178105840

In [64]:
id(food)

1699178105840

In [66]:
bar = "samosa"
food

'jalebi'

In [67]:
id(bar)

1699178191984

when u store a new data, it creates a new obj and piont ur variable to that obj.

<h3 style="color:green">Variable naming convention in python</h3>

1. snake_case ( 2 words seperated by underscore)

2. can`t use Reserve keyword

3. Special characters ($,#) not allowed.

4. Variable name must begin with letter or _

5. Remaining char should be a-z,A-Z, 0-9 or _

<h3 style="color:green">Excercise for variables</h3>

1. Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.
2. Create a variable called for and assign it a value 4. See what happens and find out the reason behind the behavior that you see.
3. Store the principal amount, rate of interest and time in different variables and then calculate the Simple Interest for 3 years

In [68]:
pi = 22/7
print(pi)

3.142857142857143

In [69]:
type(pi)

float

In [70]:
for = 4

SyntaxError: invalid syntax (2046953698.py, line 1)

SyntaxError occured becuase for is a reserved keyword in python. We cannot use reserved keywords for making variable names.

Solution for this is:

In [72]:
for_ = 4
print(for_)

4

In [75]:
# 3. Calculate Simple Interest
principle_amount = 567.00
rate_of_interest = 5.6
time = 3
simple_interest = principle_amount*rate_of_interest*time/100
print(simple_interest)

95.25599999999999

In [76]:
print(type(simple_interest))

<class 'float'>

In [77]:
# total amount after including interest

total_amount = principle_amount + simple_interest
print(total_amount)

662.256